includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
parameters:
    level: max
    reportUnmatchedIgnoredErrors: false
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    ignoreErrors:
        # #Template attribute return type can not be handled well yet
        -
            identifier: missingType.iterableValue
            path: 'src/Controller/*Controller.php'